.item {
    position: relative;
}

.image {
    width: 1.2rem;
    height: 1.2rem;
    border-radius: 50%;
}

.badge {
    position: absolute;
    transform: scale(0.85);
    -webkit-transform: scale(0.85);
    color: white;
    left: 1.2rem;
    
}

.card {
    display: flex;
}
.info {
    display: flex;
}

.right {
    border-bottom: 1px solid #ccc;
    flex: 1;
    margin-left: 0.35rem;
    display: flex;
    flex-direction: column;
}
.username {
    font-size: 0.4rem;
}

.time {
    flex: 1;
    text-align: right;
    color: #999;
}
    
.lastChat {
    margin-top: 0.3rem;
    font-size: 0.3rem;
}
