@import '~antd-mobile/lib/style/themes/default.less';

.wrapper {
  padding: 0.266667rem;
  background-color: #fff;
  font-size: 0.346667rem;
  line-height: 1.4;
}

.title {
  padding-left: 0!important;
  margin-bottom: 0.133333rem;
}
