<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta content="telephone=no,email=no" name="format-detection">
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
  <title>Dva Demo</title>
  <link type="text/stylesheet" rel="stylesheet" href="/index.css" />
  <script src="http://g.tbcdn.cn/mtb/lib-flexible/0.3.4/??flexible_css.js,flexible.js"></script>
  <script src="https://s2.ssl.qhimg.com/static/9bae6c1121e45b03.js"></script>
  <script>
    var JIM = new JMessage({ debug: true });
  </script>
</head>
<body>
  <div id="root"></div>
</body>
</html>
